// # Variables

// Colors

$dark-blue: #192E5B;
$blue: #1D65A6;
$light-blue: #72A2C0;
$green: #00743F;
$orange: #F2A104;


// fonts

$font-title: 'Montserrat', sans-serif;
$font-text: 'Raleway', sans-serif;