// ## Panel

.panel {
	height: calc(50vw * 0.78125);
	background-position: center;
	background-size: cover;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	text-transform: uppercase;
	font-weight: bold;
	color: lightgrey;

	&:hover {
		color: white;
	}

	// Panel Pictures
	&-right {
		background-image: url("../img/drink11.jpg");
	}

	&-left {
		background-image: url("../img/drink05.jpg");
	}

	// Panel Title
	&__title {
		position: relative;
		z-index: 1;
		transition: 0.3s ease-in-out;
	}

	&:hover &__title {
		transform: scale(1.1);
	}

	// Overlayer
	&::before {
		content: "";
		display: block;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgb(56, 64, 71);
		opacity: 0.5;

		transition: 0.3s all ease-in-out;
	}

	&:hover::before {
		opacity: 0.3;
	}
}
