// ### Footer

.footer {
   &__social {
         /* background-color: darkblue; */
         background-color: $green;
   
         &-link {
               color: lightgrey;
               font-size: 1.5rem;
               margin: 0 .5rem;
         
               &:hover {
                     color: white;
               }
         }
   }

   &__copyright {
         /* background-color: rgb(5, 5, 61); */
         background-color: $orange;
   
         &-link {
               color: $green;
         }
   }
}