// ### Global

body {
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400; 
}

a {
   text-decoration: none !important;
   transition: .3s color ease-in-out;
}