// ### Navigation

.menu-bar {
   background-color: #192E5B;
}

@media screen and (min-width: 768px) {
   .navbar-brand.abs {
         position: absolute;
         width: 100%;
         left: 0;
         text-align: center;
   }
}