@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600&display=swap");
/* 
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
.panel {
  height: calc(50vw * 0.78125);
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: lightgrey;
}

.panel:hover {
  color: white;
}

.panel-right {
  background-image: url("../img/drink11.jpg");
}

.panel-left {
  background-image: url("../img/drink05.jpg");
}

.panel__title {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.panel:hover .panel__title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.panel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #384047;
  opacity: 0.5;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.panel:hover::before {
  opacity: 0.3;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #192E5B;
  margin-top: 88.25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none !important;
  -webkit-transition: .3s color ease-in-out;
  transition: .3s color ease-in-out;
}

strong {
  font-weight: 600;
}

figure {
  margin: 0 !important;
  padding: 0 !important;
}

.btn-blue {
  color: #1D65A6;
  border: 1px solid #1D65A6;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn-blue:hover {
  background-color: #1D65A6;
  color: white;
}

.btn-blue.active {
  background-color: #1D65A6 !important;
  color: #72A2C0;
}

.badge-blue {
  background-color: #1D65A6;
}

@media screen and (min-width: 1024px) {
  .hero {
    text-align: center;
  }
}

.btn.btn-custom {
  color: #192E5B;
  border-color: #192E5B;
  text-transform: uppercase;
}

.btn.btn-custom:hover {
  background-color: #192E5B;
  color: #72A2C0;
}

body:not(.welcome) .jumbotron {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
  position: relative;
}

body:not(.welcome) .jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

body:not(.welcome) .jumbotron * {
  position: relative;
  z-index: 1;
}

.footer__social {
  /* background-color: darkblue; */
  background-color: #00743F;
}

.footer__social-link {
  color: lightgrey;
  font-size: 1.5rem;
  margin: 0 .5rem;
}

.footer__social-link:hover {
  color: white;
}

.footer__copyright {
  /* background-color: rgb(5, 5, 61); */
  background-color: #F2A104;
}

.footer__copyright-link {
  color: #00743F;
}

.menu-bar {
  background-color: #192E5B;
}

@media screen and (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.welcome .hero {
  background-color: #72A2C0;
}

@media screen and (min-width: 1024px) {
  .welcome .hero {
    padding: 10rem 0 !important;
  }
}

.menu-page .jumbotron {
  background-image: url("../img/background02.jpg");
}

.pictures .jumbotron {
  background-image: url("../img/background01.jpg");
}

.gallery a {
  overflow: hidden;
}

.gallery a img {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallery a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.restaurant .jumbotron {
  background-image: url("../img/background03.jpg");
}

.map {
  height: 400px;
  width: 100%;
}

.contact .jumbotron {
  background-image: url("../img/background04.jpg");
}

.contact .form-control {
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */